npm-debug.log
.DS_Store
.env
.sass-cache/
node_modules/
.vscode

.htaccess
app/.htaccess
app/wp-admin
app/wp-includes
app/wp-config.php
app/wp-content/themes/kalysto/style.css
app/wp-content/themes/kalysto/main.js
app/wp-content/uploads
app/wp-content/plugins
app/wp-content/cache
app/wp-content/languages
app/wp-content/ai1wm-backups
vendor/

*.swp
*.log


npm-debug.log
node_modules/
vendor/
.env
.vscode
.DS_Store

.htaccess
app/\*.bak
app/.htaccess
app/license.txt
app/readme.html
app/index.php
app/wp-config-sample.php
app/wp-activate.php
app/wp-blog-header.php
app/wp-load.php
app/wp-login.php
app/wp-settings.php
app/wp-signup.php
app/wp-mail.php
app/wp-comments-post.php
app/wp-cron.php
app/wp-links-opml.php
app/wp-trackback.php
app/xmlrpc.php
app/wp-config.php
app/wp-content/uploads
app/wp-content/plugins
app/wp-content/upgrade
app/wp-content/cache
app/wp-content/et-cache
app/wp-content/languages
app/wp-content/ai1wm-backups
app/wp-content/themes/kalysto/main.js
app/wp-content/themes/kalysto/style.css
app/wp-content/themes/kalysto/admin-style.css
app/wp-content/themes/kalysto/editor-style.css
app/wp-content/themes/kalysto/customizer.css

app/wp-includes
app/wp-admin

_.swp
_.log
