.buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;

    &__button {
        margin: 5px 10px 5px 0;

        a {
            text-decoration: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &--align-center {
        justify-content: center;
    }

    &--align-right {
        justify-content: flex-end;
    }
}
